#box::-webkit-scrollbar { width: 0 !important }
#box {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
}

.botonBox {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 26px;
	text-decoration:none;
	line-height: normal;
	margin-left: 3px;
	margin-right: 3px;
}

.botonBox:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.botonBox:active {
	position:relative;
	top:1px;
}
