/* Fonts especiales para el PUNTO DE VENTA*/
/* latin */
@font-face {
	font-family: "Nunito ExtraBold";
	font-style: normal;
	font-weight: 800;
	/*src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAksCUYevI.woff2) format('woff2');*/
	src: url(../../fonts/Nunito/Nunito-ExtraBold.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito SemiBold";
	font-style: normal;
	font-weight: 600;
	src: url(../../fonts/Nunito/Nunito-SemiBold.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito Bold";
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/Nunito/Nunito-Bold.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito ExtraLight";
	font-style: normal;
	font-weight: 200;
	/*src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA-seUYevI.woff2) format('woff2');*/
	src: url(../../fonts/Nunito/Nunito-ExtraLight.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito Light";
	font-style: normal;
	font-weight: 300;
	/*src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');*/
	src: url(../../fonts/Nunito/Nunito-Light.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito Black";
	font-style: normal;
	font-weight: 900;
	src: url(../../fonts/Nunito/Nunito-Black.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/Nunito/Nunito-Regular.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/RobotoTTF/Roboto-BoldItalic.ttf);
}

html,
body {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

.col {
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	overflow: hidden;
}

.row {
	margin-right: -9px !important;
	margin-left: 0px !important;
	height: 100vh;
	overflow-y: scroll;
}

.row-items {
	margin-right: 0px !important;
	margin-left: 5px !important;
	padding-top: 10px;
	padding-left: -10px;
	display: inline-flex;
}

.row-ticket {
	margin-right: 0px !important;
	margin-left: 0px !important;
	min-height: 49.17rem;
	min-width: 365px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#pos_2 {
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
	/*min-height: 100vh;*/
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	padding-left: 0px;
	padding-right: 0px;
}

.col-4 {
	min-width: 23rem;
}

.bg-gris {
	background-color: #b7b7b7;
}

.bg-disable-danger {
	background-color: #e5a2a9;
}

.panel {
	padding: 0.1rem;
}

.panel-purple {
	border: 2px solid #dfccff;
	background-color: #7f51f4;
	color: #dfccff;
}

.panel-blue {
	border: 2px solid #ddedff;
	background-color: #0087ff;
	color: #ddedff;
}

.panel-yellow {
	border: 2px solid #ffbd00;
	background-color: #fef0b2;
	color: #ffbd00;
}

.panel-pink {
	border: 2px solid #fad2e1;
	background-color: #f84f7f;
	color: #fad2e1;
}

.panel-grey {
	border: 2px solid #c5e0c6;
	background-color: #eaeaea;
	color: #0087ff;
}

.panel-greynoborde {
	background-color: #eaeaea;
	color: #0087ff;
}

.panel-trans {
	background-color: transparent;
	color: #0087ff;
}

.separator {
	border-top: 3px solid #000000;
	margin: 5px 0;
}

.clear-left {
	clear: left;
}

/*.fila-tabla {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}*/

.fila-w-10 {
	width: 8vh;
}

.fila-w-25 {
	width: 20vh;
}

.fila-w-65 {
	width: 72vh;
}

#tbody_listar {
	vertical-align: middle;
	text-align: center;
	/*font-size: 0.7rem;*/
}

.top_search {
	padding-bottom: 2px;
}

/*///////////////////////////////////////////////////////////////*/
/*CSS PARA EL BREADCRUMBS*/
.bcat {
	/*centering*/
	/*border-radius: 5px;*/
	/*width: 100%;*/
	height: 49px;
}

.bcat a {
	text-decoration: none;
	outline: none;
	font-size: 14px;
	line-height: 42px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 5px 0 24px;
	background: #666;
	position: relative;
}

.bcat a:first-child {
	padding-left: 10px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.bcat a:first-child:before {
	left: 14px;
}

.bcat a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.bcat a.active,
.bcat a:hover {
	background: #333;
	background: linear-gradient(#333, #000);
}

.bcat a.active:after,
.bcat a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.bcat a:after {
	content: "";
	position: absolute;
	/*top: 0; */
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 40px;
	height: 45px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
  5px - for rounded arrows and
  50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.bcat a:last-child:after {
	content: none;
}

/*we will use the :before element to show numbers*/
.bcat a:before {
	/*content: counter(flag);*/
	content: none;
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}

.flat a,
.flat a:after {
	/*background: white;*/
	background: transparent;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	/*background: white;*/
	background: transparent;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
	/*background: #9EEB62;*/
	background: transparent;
}

.ticketfact2 {
	width: 35vw;
	height: 51vw;
	overflow-y: auto;
}
/*///////////////////////////////////////////////////////////////////*/
/*Hacer que no se vea el scroll porque se ve feisima en el ticket*/
.ticketfact2::-webkit-scrollbar {
	width: 8px; /* Tamaño del scroll en vertical */
	height: 8px; /* Tamaño del scroll en horizontal */
	display: none; /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.ticketfact2::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.ticketfact2::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.ticketfact2::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.ticketfact2::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
.ticketfact2::-webkit-scrollbar-track:hover,
.ticketfact2::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}

/*Este CSS es para la barra de Categorias en la pagina pos.php*/
#box::-webkit-scrollbar {
	width: 0 !important;
}
#box {
	overflow-y: visible;
	overflow-x: hidden;
	white-space: nowrap;
	vertical-align: text-top;
	/*border-spacing: 0px;*/
	background-color: #b7b7b7;
}

.flex-1 {
	height: 102vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/*overflow: auto;*/
}

.flex-1 div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.flex-2 {
	/*height: 100vh;*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	flex-direction: column;
}

.flex-2 div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

/*HAcer que no se vea el scroll porque se ve feisima*/
.flex-10::-webkit-scrollbar {
	width: 8px; /* Tamaño del scroll en vertical */
	height: 8px; /* Tamaño del scroll en horizontal */
	display: none; /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.flex-10::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.flex-10::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.flex-10::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.flec-10::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.flex-10::-webkit-scrollbar-track:hover,
.flex-10::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}

.flex-12 {
	margin-top: -8px;
	min-height: 88.4vh;
	overflow-y: auto;
}
/*HAcer que no se vea el scroll porque se ve feisima*/
.flex-12::-webkit-scrollbar {
	width: 8px; /* Tamaño del scroll en vertical */
	height: 8px; /* Tamaño del scroll en horizontal */
	display: none; /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.flex-12::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.flex-12::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.flex-12::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.flec-12::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.flex-12::-webkit-scrollbar-track:hover,
.flex-12::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}

.flex-23 {
	height: 38vh;
}

.item-image {
	/* width: 130px; */
	height: 166px;
	padding-bottom: 8px;
	margin-left: 16px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.items-img {
	width: 130px;
	height: 166px;
	padding-bottom: 8px;
	margin-left: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.photo {
	width: 122px;
	height: 117px;
	margin: 0 auto;
	object-fit: cover;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: inline-block;
}

div.preproceso {
	width: 80vw;
	height: 100%;
	margin: 0 auto;
	border: 2px solid #b5b5b5;
}

.formapago {
	width: 44vh;
	height: 82.75vh;
	padding: 32px 32px;
	border-left: none !important;
	border-top: none !important;
	border-right: 2px solid #b5b5b5;
	border-bottom: 2px solid #b5b5b5;
}

.montopago {
	width: 94vw;
	height: 100%;
	padding: 16px 16px;
	border-left: none !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

.montopago span {
	font-size: 3.8rem;
	font-weight: 600;
	color: #256d52;
}

/* TABLA DE FORMAS DE PAGO EN EL PREPROCESO*/
.tbefectivo th,
.tbefectivo td {
	/*padding: 0.75rem;*/
	padding: 0rem !important;
	display: table-cell;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
	border-collapse: collapse;
	border-spacing: 2px;
}

.tbefectivo {
	height: 30vh;
	/*min-height: 30vh;*/
	overflow-y: auto;
	color: #212529;
}
#tabla_totales {
	width: 100%;
	height: 15vw;
	/*min-height: 21vh;*/
}
#tbody_efectivo {
	height: 40px !important;
}
#tbody_totales {
	/*width: 100%;*/
}
#tbody_totales td.tbody_tot {
	width: 100vw;
	/*height: 40px !important;*/
	padding-top: 1vw !important;
	padding-right: 6vw !important;
	padding-left: 6vw !important;
	padding-bottom: 1vw !important;
}
#tabla_efectivo {
	width: 100%;
	height: 11.6vw;
	/*min-height: 30.3vh;*/
}
th.th_vau {
	width: 8rem;
}
th.th_deb {
	width: 8rem;
}
th.th_ent {
	width: 8rem;
}
th.th_vue {
	width: 8rem;
}
th.th_fpg {
	width: 11rem;
}
#tabla_teclado {
	height: 37vh;
	min-height: 37vh;
}

.tabledit-input td,
th {
	white-space: nowrap;
	font-size: 14px !important;
}

.tabledit-input:disabled {
	/*display: none;*/
	font-size: 14px;
}
.tabledit-view-mode span {
	font-size: 14px;
	height: 36px;
}

.tabledit-view-mode span.label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tabledit-view-mode span.label:after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.addclientes {
	margin-top: 10px;
	height: 31vh;
	min-height: 31vh;
}
.div_addcli {
	padding: 40px;
	color: #000000;
}

.clientes {
	margin-top: 10px;
	height: 86.5vh;
	min-height: 86.5vh;
	overflow-y: auto;
}

ul.clientes-li {
	padding: 40px;
}

ul.clientes-li li {
	list-style: none;
}

ul.clientes-li li a {
	text-decoration: none;
}

ul.clientes-li li:hover {
	background-color: #9eeb62;
}

ul.clientes-li li:active {
	background-color: #9eeb62;
}

li.highlight {
	background-color: #9eeb62;
}

.navbar {
	padding: 0.75em 1em;
}

.outcome {
	padding-left: 6px;
	height: 3vw;
	border: 0.5px solid #000000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: transparent;
}
.outprice {
	padding-left: 6px;
	height: 3vw;
	border: 0.5px solid #000000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: transparent;
}
.calc-screen {
	width: 90%;
	height: 5.5vw;
	border: 1px solid #938f8a;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.3vw;
	margin-left: 1vw !important;
	margin-bottom: 1vw !important;
	overflow: hidden;
}

/**************************************/
/* NUEVO CSS PARA LA VISTA DE LOS PRODUCTOS EN EL PUNTO DE VENTA*/
.productos-vistas {
  /*background: #D8D8D8;*/
  padding: 25px;
}
.productos-vistas .grid-productos {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(5, 1fr);
  max-height: 51vw;
  overflow: auto;
}
.productos-vistas .grid-productos .producto {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #0eb582;
}
.productos-vistas .producto:hover .image img {
  /*background: #0eb582;*/
}
.productos-vistas .producto:hover .image .precio {
  text-align: center;
  bottom: 0;
  height: 96%;
  transition: all .2s linear;
}
.productos-vistas .producto .image {
  position: relative;
  overflow: hidden;
}
.productos-vistas .producto .image img {
  width: 100%;
  height: 10rem;
  border-radius: 8px;
  background: #f0fdfa;
  object-fit: cover;
}
.productos-vistas .producto .image .precio {
  position: absolute;
  bottom: -7.6rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: .1rem;
  text-align: center;
}
.productos-vistas .producto .precio label {
	font-size: 1rem;  margin: 0 1rem;  color: #fff;
}
.productos-vistas .producto .precio .nomprd-det {
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */ 
	font-size: 0.75rem;
	color: #fff;
	width: 100%; height: 4.6rem; text-overflow: ellipsis; 
}
.productos-vistas .producto .precio .pdolar-det {
	font-size: 0.8rem; height: .1rem; line-height: .1rem; margin: 0;
}
.productos-vistas .producto .precio .exist-det {
	font-size: 0.8rem; height: .1rem; line-height: .1rem; margin: 0;
}

.productos-vistas .producto .image .precio label:hover {
  color: #0eb582;
}
.productos-vistas .producto .content {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}




/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x675) SXGA Display */
@media screen and (width: 1280px) and (height: 675px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 84vh;
		overflow-y: auto;
	}
	.flex-10 {
		height: 29vh;
		min-height: 29vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 138vh;
		height: 94vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
		/*min-height: 20vh;*/
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 92vh;
		height: 82.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}
	.item-image {
		width: 130px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	/*.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}*/
	.ticketfact2 {
		width: 35vw;
		height: 51vw;
		overflow-y: auto;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x703) SXGA Display */
@media screen and (width: 1280px) and (height: 703px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 84vh;
		overflow-y: auto;
	}
	.flex-10 {
		height: 29vh;
		min-height: 29vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 168vh;
		height: 92vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
		/*min-height: 20vh;*/
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 110vh;
		height: 76.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}
	.item-image {
		width: 130px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	/*.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}*/
	.ticketfact2 {
		width: 35vw;
		height: 51vw;
		overflow-y: auto;
	}
	.forma-pago {
		width: 44vh;
		height: 78.75vh;
		padding: 20px 32px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
		overflow-y: scroll;
	}
	.formapago {
		width: 44vh;
		height: 62.75vh;
		padding: 0px 32px;
		border-left: none !important;
		border-top: none !important;
		border-right: 2px solid #b5b5b5;
		border-bottom: 2px solid #b5b5b5;
	}
	#tabla_teclado {
		height: 23vh;
		min-height: 23vh;
		margin-bottom: 0rem !important;
	}

	#tabla_teclado_fpag {
		margin-bottom: 0rem !important;
	}
	th.th_vau {
		width: 25vh;
	}
	th.th_deb {
		width: 25vh;
	}
	th.th_ent {
		width: 25vh;
	}
	th.th_vue {
		width: 25vh;
	}
	th.th_fpg {
		width: 27vh;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x761) SXGA Display */
@media screen and (width: 1280px) and (height: 731px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 84vh;
		overflow-y: auto;
	}
	.flex-10 {
		height: 29vh;
		min-height: 29vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 168vh;
		height: 92vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
		/*min-height: 20vh;*/
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 110vh;
		height: 76.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}
	.item-image {
		width: 130px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	/*.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}*/
	.ticketfact2 {
		width: 35vw;
		height: 51vw;
		overflow-y: auto;
	}
	.forma-pago {
		width: 44vh;
		height: 78.75vh;
		padding: 20px 32px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
		overflow-y: scroll;
	}
	.formapago {
		width: 44vh;
		height: 62.75vh;
		padding: 0px 32px;
		border-left: none !important;
		border-top: none !important;
		border-right: 2px solid #b5b5b5;
		border-bottom: 2px solid #b5b5b5;
	}
	#tabla_teclado {
		height: 23vh;
		min-height: 23vh;
		margin-bottom: 0rem !important;
	}

	#tabla_teclado_fpag {
		margin-bottom: 0rem !important;
	}
	th.th_vau {
		width: 25vh;
	}
	th.th_deb {
		width: 25vh;
	}
	th.th_ent {
		width: 25vh;
	}
	th.th_vue {
		width: 25vh;
	}
	th.th_fpg {
		width: 27vh;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA PC VIEJITA
/* (1280x862) SXGA Display */
@media screen and (width: 1280px) and (height: 862px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 87vh;
		overflow-y: auto;
		padding-left: -15px;
	}
	.flex-10 {
		height: 41.5vh;
		/*min-height: 42.5vh;*/
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 4em;
	}

	div.preproceso {
		width: 138vh;
		height: 94vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 20vh;
		min-height: 20vh;
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 22.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 140vh;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA PC de DGS
/* (1280x913) SXGA Display */
@media screen and (width: 1280px) and (height: 913px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 88vh;
		overflow-y: auto;
	}
	.flex-10 {
		height: 43vh;
		min-height: 43vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 138vh;
		height: 94vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
		/*min-height: 20vh;*/
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 92vh;
		height: 82.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}
	.item-image {
		width: 130px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	/*.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}*/
	.ticketfact2 {
		width: 35vw;
		height: 51vw;
		overflow-y: auto;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA Laptop de Armonia Market
/* (1366x657) SXGA Display */
@media screen and (width: 1366px) and (height: 657px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.productos-vistas .grid-productos {
	  display: grid;
	  grid-gap: 40px 20px;
	  grid-template-columns: repeat(6, 1fr);
	  max-height: 51vw;
	  overflow: auto;
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 88vh;
		overflow-y: auto;
	}
	.flex-10 {
		height: 23vh;
		min-height: 23vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		/*min-height: 80.1vh;*/
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 167vh;
		height: 94vh;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
		/*min-height: 20vh;*/
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 119vh;
		height: 82.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}

	.item-image {
		width: 130px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}
}

/********************************************************************************/
/* PARA PANTALLAS MAS GENERICAS MAYORES A 1366px DE WIDTH
/* (>1366x width) SXGA Display */
@media screen and (min-width: 1366px) and (height: 703px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.productos-vistas .grid-productos {
	  display: grid;
	  grid-gap: 40px 20px;
	  grid-template-columns: repeat(8, 1fr);
	  max-height: 51vw;
	  overflow: auto;
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 88vh;
		overflow: hidden;
	}
	.flex-10 {
		height: 23vh;
		min-height: 23vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 60vw;
		height: 100%;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 119vh;
		height: 82.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}

	.item-image {
		width: 145px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}
}

/********************************************************************************/
/* PARA PANTALLAS MAS GENERICAS MAYORES A 1920px DE WIDTH
/* (>1920x width) SXGA Display */
@media screen and (min-width: 1920px) {
	body {
		line-height: 1;
	}
	.top_categorias {
		/* margin-top: -1px;
    margin-bottom: -10px;*/
	}
	.navb4 {
		padding: 1em 1em;
	}
	.navb8 {
		padding: 0.75em 1em;
	}
	#pos_2 {
		padding-left: 0px;
		padding-right: 0px;
		height: 100vh;
		/*min-height: 100vh;*/
	}
	.productos-vistas .producto .precio label {
		font-size: 1.1rem; 
	}
	.productos-vistas .producto .precio .nomprd-det {
		font-size: 0.98rem;
		height: 5.8rem
	}
	.productos-vistas .producto .precio .pdolar-det {
		font-size: 0.8rem;
	}
	.productos-vistas .producto .precio .exist-det {
		font-size: 0.8rem;
	}
	.productos-vistas .producto .image .precio {
	  position: absolute;
	  bottom: -7.7rem;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.8);
	  padding: .1rem;
	  text-align: center;
	}
	.productos-vistas .grid-productos {
	  display: grid;
	  grid-gap: 40px 20px;
	  grid-template-columns: repeat(8, 1fr);
	  max-height: 51vw;
	  overflow: auto;
	}
	.seccion_productos_buscados {
		padding-top: 10px;
		padding-bottom: 3px;
		background-color: #eaeaea;
		border-bottom: 4px solid #c5e0c6;
	}
	.productos_primera_vista {
		height: 88vh;
		overflow: hidden;
	}
	.flex-10 {
		height: 23vh;
		min-height: 23vh;
		overflow-y: auto;
	}
	.flex-12 {
		margin-top: -3.8px;
		height: 80.1vh;
		overflow-y: auto;
	}
	.flex-23 {
		padding-left: 1em;
		padding-right: 1em;
	}

	.fila-tabla {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.preproceso {
		width: 60vw;
		height: 100%;
		margin: 0 auto;
		border: 2px solid #b5b5b5;
	}

	#tabla_totales {
		height: 35vh;
	}
	#tbody_totales td.tbody_tot {
		width: 100vh;
		height: 40px !important;
		padding-top: 5em !important;
		padding-right: 0em !important;
		padding-left: 4em !important;
		padding-bottom: 1em !important;
	}
	#tabla_efectivo {
		margin: 0 auto;
		height: 30.7vh; /* tenia 30 */
		min-height: 22.7vh; /* tenia 30 */
	}
	.montopago {
		width: 119vh;
		height: 82.75vh;
		padding: 0px 0px;
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		border-bottom: none !important;
	}

	.item-image {
		width: 145px;
		height: 166px;
		padding-bottom: 8px;
		margin-left: 28px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.row-ticket {
		margin-right: 0px !important;
		margin-left: -13px !important;
		min-height: 49.17rem;
		min-width: 26vw;
	}
	/*.ticketfact2 {
		width: 36%;
		height: 71vh;
		overflow-y: auto;
	}*/
	.ticketfact2 {
		width: 28vw;
		height: 37vw;
		overflow-y: auto;
	}
}
