/* Datos para establecer como sera la animacion */
[anim=ripple] {
  position: relative;
}
[anim=ripple]:before {
  content: "";
  position: absolute;
  display: block;
  background: var(--ripple-background, white);
  border-radius: 50%;
  pointer-events: none;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

/* CSS para el boton que se va a animar */
.agregar_art_cart {
  --ripple-opacity: 1;
  --ripple-background: radial-gradient(circle at center, #182121, #44EE5F);
  --ripple-duration: 2000ms;
  --ripple-easing: cubic-bezier(0, .5, .5, 1);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms;
}

/* Este div servira como marco para el efecto click fuera del .items-img */
.div_ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
}

/*Animate Function: esta es la propia animacion */
.animate {
  animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}

/* Junto con .animate este el CSS para la animacion que se cargara con JS */
/*@keyframes ripple-mo {
  0% { transform: scale(0); opacity: 1; }
  100% { transform: scale(10); opacity: 0; }
}*/

@keyframes ripple-mo {
  0% { transform: translateZ(-5em) scale(0); opacity: 0; }
  100% { transform: translateZ(0) scale(1); opacity: 1; }
}

@-webkit-keyframes ripple-mo {
  0% { -webkit-transform: translateZ(-5em) scale(0); opacity: 0; }
  100% { -webkit-transform: translateZ(0) scale(1); opacity: 1; }
}

/*# sourceMappingURL=item-imagenes.css.map */
