.col-item {
	border: 2px solid #2323a1;
	border-radius: 5px;
	background: #fff;
}
.col-item .photo img {
	margin: 0 auto;
	/*width: 88%;*/
	width: 100px;
	height: 100px;
}
.image-codprod {
	display: inline-block;
	position: relative;
	padding-right: 0px;
	padding-left: 6px;
	padding-bottom: 0px;
	width: 164px;
	height: 95px;
	bottom: 140px;
	font-size: 14px;
	font-weight: 900;
	color: #6b6b6b;
	text-shadow: -1px 1px 0px #009946;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.image-precioprod {
	/* display: inline-block; */
	position: relative;
  left:-164px;
	bottom: 46px;
	right: 0px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background-color: #009946;
	width: 144px;
	height: 25px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.cropeada {
	object-fit: cover;
	width: 145px;
	height: 145px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 0.5px solid #009946;
}

/* Para mostrar el precio en dolares en la img con figure */
figcaption {
	z-index: 1;
	position: relative;
	padding-top: 8px;
	top: -10.8rem;
  left: 1px;
	width: 9rem;
	height: 9.5rem;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.88);
	opacity: 0;
	background-image: linear-gradient(to top, #000 50%, #fff 50%);
	background-size: 100% 200%;
	-webkit-transition: background-position 0.6s ease-in-out,
		color 0.6s ease-in-out;
	-moz-transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
	-o-transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
	transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	
}
figure:hover figcaption {
	background-position: 0 100%;
	color: #ffffff;
	opacity: 1;
}
figure:before {
	position: absolute;
	font-weight: 800;
	background: black;
	background: rgba(255, 255, 255, 0.75);
	color: black;
	width: 24px;
	height: 24px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity: 0.75;
}
figure:hover:before {
	opacity: 0;
}
.cap-bot:before {
	bottom: 10px;
	left: 10px;
}
.cap-bot figcaption {
	/* left: 0; */
	bottom: -30%;
}
.cap-bot:hover figcaption {
	bottom: 0;
}
.price_caption {
	margin-bottom: 8px;
}

/**/
.lista-items {
	/*width: 66vw;*/
	/*height: 86.5vh;*/
	/*overflow: auto;*/
}

.col-item .info {
	padding: 10px;
	border-radius: 0 0 5px 5px;
	/*margin-top: 1px;*/
}
.col-item:hover .info {
	background-color: rgba(215, 215, 244, 0.5);
}
.col-item .price {
	/*width: 50%;*/
	float: left;
	margin-top: 5px;
}

.col-item .price h5 {
	line-height: 20px;
	margin: 0;
}

.price-text-color {
	color: #00990e;
}

.col-item .info .rating {
	color: #003399;
}

.col-item .rating {
	/*width: 50%;*/
	float: left;
	font-size: 17px;
	text-align: right;
	line-height: 52px;
	margin-bottom: 10px;
	height: 52px;
}

.col-item .separator {
	border-top: 1px solid #ffcccc;
}

.clear-left {
	clear: left;
}

.col-item .separator p {
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.col-item .separator p i {
	margin-right: 5px;
}
.col-item .btn-add {
	width: 50%;
	float: left;
}

.col-item .btn-add {
	border-right: 1px solid #cc9999;
}

.col-item .btn-details {
	width: 50%;
	float: left;
	padding-left: 10px;
}
.controls {
	margin-top: 20px;
}
[data-slide="prev"] {
	margin-right: 10px;
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x675) SXGA Display */
@media screen and (width: 1280px) and (height: 675px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		position: relative;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 95px;
		bottom: 129px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.image-precioprod {
		padding-top: 5px !important;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x703) SXGA Display */
@media screen and (width: 1280px) and (height: 703px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		position: relative;
		padding-top: 7px;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 121px;
		bottom: 142px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA LAPTOP MacBook Air 2008
/* (1280x761) SXGA Display */
@media screen and (width: 1280px) and (height: 731px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		position: relative;
		padding-top: 7px;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 121px;
		bottom: 142px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA PC VIEJITA
/* (1280x862) SXGA Display */
@media screen and (width: 1280px) and (height: 862px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		position: relative;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 113px;
		bottom: 136px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	}
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA Laptop de Armonia Market
/* (1366x657) SXGA Display */
@media screen and (width: 1366px) and (height: 657px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 113px;
		bottom: 136px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	/* figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	} */
  figcaption {
    z-index: 1;
    position: relative;
    padding-top: 8px;
    top: -171px;
    left: 1px;
    width: 142px;
    height: 149px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    opacity: 0;
    background-image: linear-gradient(to top, #000 50%, #fff 50%);
    background-size: 100% 200%;
    -webkit-transition: background-position 0.6s ease-in-out,
      color 0.6s ease-in-out;
    -moz-transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
    -o-transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
    transition: background-position 0.6s ease-in-out, color 0.6s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }
}

/********************************************************************************/
/* PARA LA PANTALLA DE LA PC de DGS
/* (1280x913) SXGA Display */
@media screen and (width: 1280px) and (height: 913px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		position: relative;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 113px;
		bottom: 140px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 8px !important;
		top: -212px !important;
		width: 144px !important;
		height: 74px !important;
	}
}

/********************************************************************************/
/* PARA PANTALLAS MAS GENERICAS MAYORES A 1366px DE WIDTH
/* (>1366x width) SXGA Display */
@media screen and (min-width: 1367px) {
	.div-img-crop {
		height: 20vh;
	}
	.cropeada {
		object-fit: cover;
		width: 144px;
		height: 144px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 0.5px solid #009946;
	}
	.image-codprod {
		display: inline-block;
		padding-right: 0px;
		padding-left: 6px;
		padding-bottom: 0px;
		width: 142px;
		height: 113px;
		bottom: 136px;
		font-size: 14px;
		font-weight: 900;
		color: #484848;
		text-shadow: -1px 1px 5px #009946;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.image-precioprod {
		padding-top: 5px;
		width: 144px !important;
		height: 25px !important;
	}
	figcaption {
		padding-top: 10px !important;
		top: -20.95rem !important;
		width: 8.84rem !important;
		height: 7.75vw !important;
		left: 1px !important;
	}
}
