@font-face {
  font-family: 'Roboto Slab Regular';
  font-style: normal;
  font-weight: 300;
  src: url(./roboto/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url(./RobotoTTF/Roboto-Regular.ttf);
}