#box::-webkit-scrollbar { width: 0 !important }
#box {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
}

.botonBox {
	background:linear-gradient(to bottom, #1b4584 5%, #0041a3 100%);
	background-color:#1b4584;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:"Nunito Sans", sans-serif;
	font-size:14px;
	font-weight:600;
	font-style: bold;
	padding:10px 26px;
	text-decoration:none;
	line-height: normal;
	margin-left: 3px;
	margin-right: 3px;
}
}
.botonBox:hover {
	background:linear-gradient(to bottom, #0041a3 5%, #1b4584 100%);
	background-color:#0041a3;
}
.botonBox:active {
	position:relative;
	top:1px;
}
