/*estilos.pos.css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/ /* podemos usar cualquiera de las dos */
  /*font-family: 'Oswald', sans-serif;*/
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(90px, 90px) auto;
  grid-template-rows: 45px auto;
  grid-template-areas: "header header"
                       "menu contenido"; /* organizacion del grid */
  transition: all .3s ease;
}

.contenedor.active {
  grid-template-columns: minmax(400px, 18%) auto;
}

/*HEADER */
.header {
  background: #343a40;
  grid-area: header; /* nombre del area a manejar con el grid */
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 40px;
  grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.header .contenedor-logo .boton-menu {
  border: none;
  padding: 10px;
  background: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.header .contenedor-logo .boton-menu:hover {
  background: #E7E7E7;
}

.header .contenedor-logo .logo span {
  color:  #fff;
  text-decoration: none;
}

.header .contenedor-logo .logo .fas {
  /*background: #ff0000;*/
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  top: -4px;
  margin-right: 4px;
}

.header .contenedor-logo .logo {
  /*font-family: "Bebas Neue", cursive;*/
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.header .barra-busqueda {
  grid-area: busqueda;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .barra-busqueda input{
  min-width: 15%;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  border: 1px solif #ccc;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.header .barra-busqueda .span-usuario{
  color: #fff;
  padding: 0 30px;
}

.header .barra-busqueda button{
  height: 35px;
  border: 1px solid #ccc;
  border-left: none;
  color: #545454;
  background: #e0a800;
  padding: 0 15px;
  cursor: pointer;
}

.header .barra-busqueda button:hover {
  background: #f2f2f2;
}


.header .botones-header {
  grid-area: iconos;
  display: flex;
  align-items: center;
}

.header .botones-header button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding: 7px 12px;
  border-radius: 100px;
  color: #828282;
  margin-right: 20px;
  cursor: pointer;
}

.header .botones-header button:hover {
  background: #E7E7E7;
}

.header .botones-header .avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.header .botones-header .avatar img {
  vertical-align: top;
  width: 100%;
  border-radius: 100px;
}

/*MENU LATERAL */
.menu-lateral {
  grid-area: menu; /* nombre del area a manejar con el grid */
  background: #fff;
  overflow: hidden;
}

.menu-lateral a {
  display: block;
  padding: 15px 35px;
  color: #000;
  min-width: 800px;
}

.menu-lateral a:hover {
  background: #E5E5E5;
}

.menu-lateral a.active {
  background: #E5E5E5;
  font-weight: bold;
}

.menu-lateral .fas {
  color: #606060;
  margin-right: 32px;
  width: 20px;
  text-align: center;
}

.menu-lateral a.active .fas {
  color: #FF0000;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid #DFDFDF;
}

.menu-lateral .panel-articulos-cargados {
  border-right: 2px solid #c5e0c6;
  border-bottom: 2px solid #c5e0c6; 
  display: flex;
  flex-direction: column;
}