#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Aqui va su Imagen';
    color: #CCCCCC;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/* Container holding the image and the text */
.contenedor-imagen {
  position: relative;
}

/* Bottom right text */
.contenedor-imagen > .text-blocked {
  position: absolute;
  top: 0px;
  right: 10px;
}

/* Tamaño del boton SI en el modal Borrar Imagen*/
#optionsRadios {
  border: 0px;
  width: 100%;
  height: 2em;
}